doctype html
html(lang='en-US')
    head
        meta(charset='UTF-8')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        title #{mainTitle}
        //if lt IE 9
            script(src='http//css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js')
            script(src='http//html5shiv.googlecode.com/svn/trunk/html5.js')
            script(src='Javascript/Flot/excanvas.js')
        // The Fonts
        link(href='http//fonts.googleapis.com/css?family=Oswald|Droid+Sans:400,700', rel='stylesheet')
        // The Main CSS File
        link(rel='stylesheet', href='/CSS/style.css')
        //BootStrap
        link(rel='stylesheet', href='/CSS/bootstrap.min.css')
        script(src='/Javascript/bootstrap.min.js')
        // jQuery
        script(src='/Javascript/jQuery/jquery-1.7.2.min.js')
        // Flot
        script(src='/Javascript/Flot/jquery.flot.js')
        script(src='/Javascript/Flot/jquery.flot.resize.js')
        script(src='/Javascript/Flot/jquery.flot.pie.js')
        // DataTables
        script(src='/Javascript/DataTables/jquery.dataTables.min.js')
        // ColResizable
        script(src='/Javascript/ColResizable/colResizable-1.3.js')
        // jQuryUI
        script(src='/Javascript/jQueryUI/jquery-ui-1.8.21.min.js')
        // Uniform
        script(src='/Javascript/Uniform/jquery.uniform.js')
        // Tipsy
        script(src='/Javascript/Tipsy/jquery.tipsy.js')
        // Elastic
        script(src='/Javascript/Elastic/jquery.elastic.js')
        // ColorPicker
        script(src='/Javascript/ColorPicker/colorpicker.js')
        // SuperTextarea
        script(src='/Javascript/SuperTextarea/jquery.supertextarea.min.js')
        // UISpinner
        script(src='/Javascript/UISpinner/ui.spinner.js')
        // MaskedInput
        script(src='/Javascript/MaskedInput/jquery.maskedinput-1.3.js')
        // ClEditor
        script(src='/Javascript/ClEditor/jquery.cleditor.js')
        // Full Calendar
        script(src='/Javascript/FullCalendar/fullcalendar.js')
        // Color Box
        script(src='/Javascript/ColorBox/jquery.colorbox.js')
        // Kanrisha Script
        script(src='/Javascript/kanrisha.js')
        script(src='/Javascript/mainEvents.js')
        meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
    body
        // Top Panel
        .top_panel
            .wrapper
                .user
                    img.user_avatar(src='/Images/user_avatar.png', alt='user_avatar')
                    span.label #{loginName}
                .top_links
                    ul
                        li
                            a(href='/main/logout', title='Log out')
                                span.label Log out
        header.main_header
            .wrapper
                .logo
                    a(href='#', title='Kanrisha Home')
                        img(src='/Images/kanrisha_logo.png', alt='kanrisha_logo')
        .wrapper.small_menu
            ul.menu_small_buttons
                li
                    a.i_22_ui(title='Staff', href='/main/staff')
                li
                    a.i_22_tables(title='Storage', href='/main/storage')
                li
                    a.i_22_forms(title='Department', href='/main/division')
                li
                    a.i_22_dashboard(title='Position', href='/main/position')
                li
                    a.i_22_dashboard(title='Category', href='/main/category')
                li
                    a.i_22_dashboard(title='Supplier', href='/main/supplier')
        .wrapper.contents_wrapper
            aside.sidebar
                ul.tab_nav
                    li.i_32_ui(class = (activeTab == "Staff" ? "active_tab" : ""))
                        a(href='/main/staff', title='Employee', class='StaffPage')
                            span.tab_label Staff
                            span.tab_info Users
                    li.i_32_tables(class = (activeTab == "Storage" ? "active_tab" : ""))
                        a(href='/main/storage', title='Storage information')
                            span.tab_label Storage
                            span.tab_info Goods
                    li.i_32_forms(class = (activeTab == "Division" ? "active_tab" : ""))
                        a(href='/main/division', title='Division information')
                            span.tab_label Division
                            span.tab_info division
                    li.i_32_dashboard(class = (activeTab == "Position" ? "active_tab" : ""))
                        a(href='/main/position', title='Position information')
                            span.tab_label Position
                            span.tab_info position
                    li.i_32_dashboard(class = (activeTab == "Category" ? "active_tab" : ""))
                        a(href='/main/category', title='Category information')
                            span.tab_label Category
                            span.tab_info category
                    li.i_32_dashboard(class = (activeTab == "Supplier" ? "active_tab" : ""))
                        a(href='/main/supplier', title='Category information')
                            span.tab_label Supplier
                            span.tab_info supplier
            .contents
                #dialog-form
                    .widget_contents.noPadding.newUserForm
                        .line_grid
                            .g_12
                                span.label.validateTips All form fields are required
                        .line_grid
                            .g_3
                                span.label Username
                            .g_9
                                input.simple_field.Username(type='text', placeholder='Enter Username')
                        .line_grid
                            .g_3
                                span.label Password
                            .g_9
                                input.simple_field.Password(type='text')
                        .line_grid
                            .g_3
                                span.label Division
                            .g_9
                                select.simple_form.department
                                    for division,i in DivisionArr
                                        option(value= division.idNumber) #{division.name}
                                //input.simple_field.department(type='text', value='google')
                        .line_grid
                            .g_3
                                span.label Authority
                            .g_9
                                select.simple_form.Authority
                                    option(value='0') Super Admin
                                    option(value='1') Department Admin
                                    option(value='2') Employee
                    .widget_contents.noPadding.newDivisionForm
                        .line_grid
                            .g_3
                                span.label Name
                            .g_9
                                input.simple_field.divisionName(type='text', placeholder='Enter Division Name')

                div.StoragePanel(class = (activeTab != "Storage" ? "hideSelf" : "showSelf"))
                    .g_6.contents_header
                        h3.i_16_table.tab_label Storage
                        div
                            span.label Inventory Management
                    .g_6.contents_options
                        div.simple_buttons
                            div.i_16_add.bwIcon.addStock Add Stock
                    .g_12.NewStorageForm.hideSelf
                        .widget_contents.noPadding
                            .line_grid
                                .g_3
                                    span.label Name
                                .g_9
                                    select.simple_form.ProductName
                                        for p,i in ProductCategoryArr
                                            option(value= p.idNumber) #{p.name}+#{p.supplierName}
                            .line_grid
                                .g_3
                                    span.label Price
                                .g_9
                                    span.label #{selectedPrice}
                            .line_grid
                                .g_3
                                    span.label Quantity
                                .g_9
                                    input.simple_field.divisionName(type='text', placeholder='Enter Quantity')
                            .line_grid
                                .g_3
                                    span.label Position
                                .g_9
                                    select.simple_form.Position
                                        for p,i in PositionArr
                                            option(value= p.idNumber) #{p.name}
                            .line_grid
                                .g_3
                                    div.simple_buttons
                                        div.bwIcon.i_16_add.ensureAddStock Add Stock
                                .g_3
                                    div.simple_buttons
                                        div.bwIcon.i_16_add.cancelAddStock Cancel

                    .g_12
                        .widget_contents.noPadding
                            table.datatable.tables.StorageList
                                thead
                                    tr
                                        th Number
                                        th Name
                                        th Supplier Name
                                        th Position
                                        th Price
                                        th Quantity
                                        th Operations
                                tbody
                                    for stock,i in StorageArr
                                        tr
                                            td= stock.idNumber
                                            td= stock.name
                                            td= stock.supplierName
                                            td= stock.positionName
                                            td= stock.price
                                            td= stock.quantity
                                            td
                                                .simple_buttons
                                                    .bwIcon.i_16_settings Operate
                                                    .buttons_arrow
                                                        // Drop Menu
                                                        ul.drop_menu.menu_with_icons.right_direction
                                                            li
                                                                a.i_16_add(href='#', title='New User', id=i + 1)
                                                                    span.label New User
                                                            li
                                                                a.i_16_forms(href='#', title='Update User', id=i + 1)
                                                                    span.label Update User
                                                            li
                                                                a.i_16_close(href='#', title='Remove User', id=i + 1)
                                                                    span.label Remove User
                div.Division(class = (activeTab != "Division" ? "hideSelf" : "showSelf"))
                    .g_6.contents_header
                        h3.i_16_table.tab_label Division
                        div
                            span.label Add divisions
                    .g_6.contents_options
                        div.simple_buttons
                            div.bwIcon.i_16_add.addDivision Add Division
                    .g_12
                        .widget_contents.noPadding
                            table.datatable.tables.DivisionsList
                                thead
                                    tr
                                        th Number
                                        th Name
                                        th Admin numbers
                                        th Employee numbers
                                        th Inventory quantity
                                tbody
                                    for division,i in DivisionArr
                                        tr
                                            td= division.idNumber
                                            td= division.name
                                            td= division.departmentAdminCnt
                                            td= division.simpleEmployeeCnt
                                            td= division.goodsCnt
                div.StaffPanel(class = (activeTab != "Staff" ? "hideSelf" : "showSelf"))
                    .g_6.contents_header
                        h3.i_16_table.tab_label Staff
                        div
                            span.label Add, update or remove users
                    .g_12
                        .widget_contents.noPadding
                            table.datatable.tables.Userslist
                                thead
                                    tr
                                        th Number
                                        th Username
                                        th Authority
                                        th Department
                                        th Operations
                                tbody
                                    for user,i in UsersArr
                                        tr
                                            td= user.idNumber
                                            td= user.username
                                            td= user.authority
                                            td= user.department
                                            td
                                                .simple_buttons
                                                    .bwIcon.i_16_settings Operate
                                                    .buttons_arrow
                                                        // Drop Menu
                                                        ul.drop_menu.menu_with_icons.right_direction
                                                            li
                                                                a.i_16_add.addUser(href='#', title='New User', id=i + 1)
                                                                    span.label New User
                                                            li
                                                                a.i_16_forms.updateUser(href='#', title='Update User', id=i + 1)
                                                                    span.label Update User
                                                            li
                                                                a.i_16_close.removeUser(href='#', title='Remove User', id=i + 1)
                                                                    span.label Remove User

                div.PositionPanel(class = (activeTab != "Position" ? "hideSelf" : "showSelf"))
                    .g_6.contents_header
                        h3.i_16_table.tab_label Position
                        div
                            span.label Add positions
                    .g_6.contents_options
                        div.simple_buttons
                            div.bwIcon.i_16_add.addPosition Add position
                    .g_12
                        .widget_contents.noPadding
                            table.datatable.tables.PositionLists
                                thead
                                    tr
                                        th Number
                                        th Name
                                        th Remove
                                tbody
                                    for pos,i in PositionArr
                                        tr
                                            td= pos.idNumber
                                            td= pos.name
                                            td
                                                .simple_buttons
                                                    div.bwIcon.i_16_close.removePosition Remove
                div.CategoryPanel(class = (activeTab != "Category" ? "hideSelf" : "showSelf"))
                    .g_6.contents_header
                        h3.i_16_table.tab_label Product Category
                        div
                            span.label Add, update or remove product categories
                    .g_12
                        .widget_contents.noPadding
                            table.datatable.tables.CategoryLists
                                thead
                                    tr
                                        th Number
                                        th Name
                                        th Price
                                        th Product Type
                                        th Supplier Name
                                        th Manipulations
                                tbody
                                    for cat,i in CategoryArr
                                        tr
                                            td= cat.idNumber
                                            td= cat.name
                                            td= cat.price
                                            td= cat.productType
                                            td= cat.supplierName
                                            td
                                                .simple_buttons
                                                    .bwIcon.i_16_settings Operate
                                                    .buttons_arrow
                                                        // Drop Menu
                                                        ul.drop_menu.menu_with_icons.right_direction
                                                            li
                                                                a.i_16_add.addUser(href='#', title='New Category', id=i + 1)
                                                                    span.label New Category
                                                            li
                                                                a.i_16_forms.updateUser(href='#', title='Update Category', id=i + 1)
                                                                    span.label Update Category
                                                            li
                                                                a.i_16_close.removeUser(href='#', title='Remove Category', id=i + 1)
                                                                    span.label Remove Category
                div.SupplierPanel(class = (activeTab != "Supplier" ? "hideSelf" : "showSelf"))
                    .g_6.contents_header
                        h3.i_16_table.tab_label Supplier
                        div
                            span.label Add, update or remove suppliers
                    .g_12
                        .widget_contents.noPadding
                            table.datatable.tables.SupplierList
                                thead
                                    tr
                                        th Number
                                        th Name
                                        th Phone
                                        th Address
                                        th Postal code
                                        th Manipulations
                                tbody
                                    for sup,i in SupplierArr
                                        tr
                                            td= sup.idNumber
                                            td= sup.name
                                            td= sup.phone
                                            td= sup.addr
                                            td= sup.postCode
                                            td
                                                .simple_buttons
                                                    .bwIcon.i_16_settings Operate
                                                    .buttons_arrow
                                                        // Drop Menu
                                                        ul.drop_menu.menu_with_icons.right_direction
                                                            li
                                                                a.i_16_add.addUser(href='#', title='New Supplier', id=i + 1)
                                                                    span.label New Supplier
                                                            li
                                                                a.i_16_forms.updateUser(href='#', title='Update Supplier', id=i + 1)
                                                                    span.label Update Supplier
                                                            li
                                                                a.i_16_close.removeUser(href='#', title='Remove Supplier', id=i + 1)
                                                                    span.label Remove Supplier